<header>
  <a class="navbar-brand float-left" href="#">The Market</a>
  <% if current_user %>
  	<%= link_to current_user.first_name, current_user %>
  	<%= link_to "Account Settings", edit_user_path(current_user)%>
  	<% else %>
	  <%= link_to "Sign Up", signup_path, class: 'button' %> | 
	  <%= link_to "Sign In", new_session_path %> |
	<% end %>
  
  <div class="container-fluid">

  	<ul class="nav float-right"
	  <li class="nav-item">
	    <%= link_to "Home", root_url %>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">About</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Products</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Location</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Register</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Log In</a>
	  </li>
	</ul>
	</div>

  </header>