<h2><%= @item.name.upcase %></h2>
<h3>Price per pound: <%= number_to_currency(@item.price) %></h3>
<h3>Quantity: <%= @item.quantity %></h3>
<h3>Description: <%= @item.description %></h3>
<h3>In Season?: <%= @item.in_season %></h3>

<h3><%= link_to pluralize(@item.reviews.size, "review"), item_reviews_path(@item) %></h3>
<h3><%= link_to "Write Review", new_item_review_path(@item) %></h3>

<%= link_to "All Items", items_path %> |

<% if current_user_admin? %>
	<%= link_to "Edit Item", edit_item_path(@item) %> | 
	<%= link_to "Delete Item", item_path(@item), method: :delete, data: { confirm: "Are you sure you want to remove this item?" }  %>
<% end %>
